.container {
  margin: 50px auto;
  max-width: 1280px;
  width: 90%;
  .ticketslist{
    float: right;
    .list{
      float: left;
      overflow: auto;
      width: 100%;
      height: 100%;
    }
  }
}
.divider{
  padding: auto;
}
.s1-4 {
	width: 14.28%;
}
.numberBtn {
  padding: 0 2vw;
  width: 100%;
}
.padUp {
	padding-top: 2em;
}
