.status
{
  position: relative;
  height: 200px;
  width: 200px;
  margin: 5vh auto;

}
.circle {
  border: 6px solid #168;
  border-right: 6px solid #e5eeff;
  border-bottom: 6px solid #e5eeff;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  -webkit-animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -ms-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
.blocks-left {
  margin-top: 5vh;
}
.choiced-list{
  margin:25vh auto;
}
.answerBtn{
  margin:0 2em;
}
.btn-list{
  margin-left: 10em;
}
.heading{
  margin-top: 3vh;
}
.convert{
  margin-top: 10vh;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-contents {
  margin: 0 auto;
  width: 60%;
}
.draw-video {
  width: 100%;
}
