html{
  font-family:Courier New, Courier, monospace;
}
.nav-wrapper {
  background-color: black;
  font-size: 14px;
  a{
    color:#ecff20;
  }
  .main-text{
    margin-left: 50px;
  }
  .right{
    padding-right: 50px;
    li a{
      font-size: 18px;
    }
  }
}
