.Head{
    text-align: center;
    color: crimson;
    font-size: 50px;
}
.Head:hover{
    color: chartreuse;
}
body{
    background-image: url(imageedit_2_7398170124.png);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.ButtonGroup-wrap{
    text-align: center;
}
div.ButtonGroup{
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}
.button{
    opacity: 0.5;
    background-color: aqua;
    border: none;
    color: black;
    text-align: center;
    text-decoration: inherit;
    font-size: 60px;
    display: inline-block;
    border-radius: 75px;
    padding: 15px;
    margin-left: 100px;
    float: left;
}
.button:hover{
    opacity: 1.0;
    background-color: aquamarine;
    float: left;
}
.button:active{
    opacity: 1.0;
    background-color: aquamarine;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    float: left;
}
.Intro{
    text-align: center;
    color: floralwhite;
    font-size: 35px;
}
.NULL{
    
}
.UI{
    position: fixed;
    bottom: 0;
    right 0;
    border: 3px solid darkblue;
    background: tomato;
    color: black;
    border-radius: 50%;
    padding: 25px;
}
.ICON{
    bottom: 0;
    right: 0;
    width: 250;
    height: 250;
    position: absolute;
    position: fixed;
}
html{
    font-family: 'Montserrat', sans-serif;
}